<div class="Aligner">
    <div class="Aligner-item">
        <h1>Checksummer</h1>

        <%= form_tag('/generate-checksum', method: :post) do %>
            <div><%= text_area_tag :checksum_text %></div>
            <div><%= submit_tag(@checksum ? 'Generate new checksum' : 'Generate checksum') %></div>
        <% end %>
        <% if @checksum %>
            <h2><%= @checksum %></h2>
        <% end %>
    </div>
</div>